USE [master]
GO
/****** Object:  Database [db1]    Script Date: 3/27/2020 8:49:10 PM ******/
CREATE DATABASE [db1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db1', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\db1.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db1_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\db1_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db1]
GO
/****** Object:  Table [dbo].[Detail_1]    Script Date: 3/27/2020 8:49:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Detail_1](
	[u_Id] [int] IDENTITY(1,1) NOT NULL,
	[u_Name] [varchar](255) NOT NULL,
	[u_Age] [int] NULL,
 CONSTRAINT [PK_Detail_1] PRIMARY KEY CLUSTERED 
(
	[u_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Detail_1] ON 

INSERT [dbo].[Detail_1] ([u_Id], [u_Name], [u_Age]) VALUES (1, N'areeb', 19)
INSERT [dbo].[Detail_1] ([u_Id], [u_Name], [u_Age]) VALUES (2, N'mishal', 11)
SET IDENTITY_INSERT [dbo].[Detail_1] OFF
USE [master]
GO
